<section class="home" id="home">
    <div class="home-content mt-5">
        
        <div class="text-animate">
        </div>
        <img  class=" mt-5" src="assets/istockphoto-1158098514-612x612.jpg" width="400px" height="200px">
    </div>
    
</section>

<div class="bb">
    <h1>Online <span>Wallet </span></h1>
    <p style="font-size: 2rem;">Money Transfer From One Account to Another Account</p>
</div>

<div class="mt-1 footer">

    <footer class="text-center text-white" style="background-color: hsl(157, 50%, 70%);">
        <!-- Copyright -->
        <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            Copyright © 2023 Capgemini All rights reserved. 
        </div>
        <!-- Copyright -->
    </footer>
  
  
  </div>
