<!-- Section: Design Block -->
<section class=" text-center text-lg-start col-sm-8 mt-5 ml-1 ">


    <div class="card mb-3 ml-3">
        <div class="row g-0 d-flex align-items-center justify-content-end ">
            <div class="col-lg-4 d-none d-lg-flex">
                <img src="https://mdbootstrap.com/img/new/ecommerce/vertical/004.jpg" alt="Trendy Pants and Shoes"
                    class="w-100 rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5" />
            </div>

            <div class="col-lg-6">
                <div class="card-body py-5 px-md-5">

                    <form>
                        <h2>Sign In</h2>
                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            <input type="email" id="form2Example1" class="form-control" name="email" [(ngModel)]="email" />
                            <label class="form-label" for="form2Example1">Email address</label>
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-4">
                            <input type="password" id="form2Example2" class="form-control"  name="password" [(ngModel)]="password"/>
                            <label class="form-label" for="form2Example2">Password</label>
                        </div>

                        <!-- 2 column grid layout for inline styling -->
                        <div class="row mb-4">
                            <div class="col d-flex justify-content-center">
                                <!-- Checkbox -->
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="form2Example31"
                                        checked />
                                    <label class="form-check-label" for="form2Example31"> Remember me </label>
                                </div>
                            </div>

                            <div class="col">
                                <!-- Simple link -->
                                <a routerLink="/forget">Forgot password?</a>
                            </div>
                        </div>

                        <!-- Submit button -->
                        <button type="button" class="btn btn-primary btn-block mb-4" (click)="login()">Sign in</button>

                    </form>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section: Design Block -->

<div class="mt-1 footer">

    <footer class="text-center text-white" style="background-color: hsl(157, 50%, 70%);">
        <!-- Copyright -->
        <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            Copyright © 2023 Capgemini All rights reserved. 
        </div>
        <!-- Copyright -->
    </footer>
  
  
  </div>